APP_ENV=dev
REDIS_URL=redis://redis:6379/0

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# Your price (we’ll create this in Stripe next sprint)
STRIPE_PRICE_ID=price_xxx

# Web URL (used for success/cancel)
WEB_BASE_URL=http://localhost:3000